.footer {
  max-width: 60rem;
  margin: 0 auto;
  padding: 1.5rem 0;
  text-align: center;
  font-style: italic;
  color: rgba(0, 0, 0, 0.66);
  line-height: 2;
}

.footer p {
  margin: 0;
}

.footer a, .footer a:visited {
  color: rgba(0, 0, 255, 0.66);
}

.footer a:hover, .footer a:focus {
  color: rgba(0, 0, 255, 1);
}
